extends layout

block content
  h1 Admin
  ul.admin-list
    each channel, i in channels
      li
        p= channel.channel
      form.inline-block(method="Post", action="/removechannel")
        input.remove-input(type="hidden", name="channelName", value=channel.channel)
        input.remove-link(type="submit", value="remove")
      br

  ul.admin-list
    each user, i in users
      li
        p= user.username
      form.inline-block(method="Post", action="/removeuser")
        input.remove-input(type="hidden", name="userName", value=user.username)
        input.remove-link(type="submit", value="remove")
        if user.admin
          a.admin-text admin
      br

  h4 Add Channel
  form#formAddUser(name="addchannel",method="post",action="/addchannel")
      input#inputChannelName(type="text", placeholder="Name of channel", name="channelName")
      button#btnSubmit(type="submit") Add

  h4 Add User
  form#formAddUser(name="adduser",method="post",action="/join")
      input#inputUserName(type="text", placeholder="username", name="username")
      input(type="email", placeholder="email", name="email")
      input(type="password", placeholder="password", name="psw")
      input(type="checkbox", value=false, name="admin" )
      button#btnSubmit(type="submit") Add
